<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Компоненты 409</title>
    <link rel="shortcut icon" href="../static/lars_slider_1.ico"  type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <script type="text/javascript" src="../static/script.js"></script>
  </head>
  <body onload="clockTimer();">
    <header>
      <nav>
        <h1>Добро пожаловать в систему контроля и учета компонентов!
          <!-- <div class="clockpage">
          <span id="clock"></span>
          <span id="dayOfWeek"></span>
        </div> -->
      </h1>        
      </nav>
    </header>
    <main>
      <div class="Searching">
      <p>УПС! ПРОИЗОШЛА ОШИБКА! КРИВОРУКИЙ ПРОГРАММИСТ УЖЕ ПОЛУЧИЛ СООБЩЕНИЕ ОБ ОШИБКЕ!
        <form action="http://192.168.0.103:3000/" method="action" autofocus="autofocus">
            <input type="submit" value="Вернутся на главную"/>
            <!-- <button onclick="window.location='http://192.168.0.103:3000/OK'">Поиск</button>-->
        </form>
        <div class="sorryPic"><img src="../static/catSorry.jpg" alt="ПРОС"></div>
      <p>
      </div>
      <article> </article>
      <aside>
          </body>
      </aside>
    </main>
    <footer>
    </footer>
  </body>
</html>